.vs/HighlyDeveloped/FileContentIndex/0cca5172-ef32-4c86-8967-09036532bce5.vsidx
.vs/HighlyDeveloped/FileContentIndex/78da85dd-7f1a-467a-8408-6d78066a22b3.vsidx
.vs/HighlyDeveloped/FileContentIndex/7c39dccf-4c9e-492b-a33c-3539247beac8.vsidx
.vs/HighlyDeveloped/FileContentIndex/ff141ff0-7f73-4267-bf16-e93a3625dda0.vsidx
.vs/HighlyDeveloped/FileContentIndex/ea473246-adce-42b3-b500-4a80e55fd0f1.vsidx
.vs/HighlyDeveloped/FileContentIndex/d0edeeda-4efc-4380-8d01-9dcf7f465f61.vsidx
.vs/HighlyDeveloped/FileContentIndex/b2f5b6ed-8ae0-4e32-a448-6e05b6920325.vsidx
.vs/HighlyDeveloped/FileContentIndex/56868ac9-7ad8-44b2-8366-2ea8290a3186.vsidx
.vs/HighlyDeveloped/v17/.suo
.vs/HighlyDeveloped/v17/DocumentLayout.json
