<?xml version="1.0" encoding="utf-8"?>
<Macro Key="db492793-c31c-4360-a129-382f622a998c" Alias="CallToAction" Level="0">
  <Name>Call To Action</Name>
  <MacroSource>~/Views/MacroPartials/Call To Action.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>