<?xml version="1.0" encoding="utf-8"?>
<Macro Key="6acac645-8166-4c82-9c70-17c3ee998479" Alias="UsefulLinks" Level="0">
  <Name>Useful Links</Name>
  <MacroSource>~/Views/MacroPartials/Useful Links.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>