<div ng-controller="BookManagerDashboardController as bookManager">

    <h2>Book Manager</h2>

    <button class="btn btn-success mb-3" ng-click="bookManager.newBook()">Add New Book</button>


    <input ng-model="bookManager.searchTerm" ng-change="bookManager.searchBooks()" placeholder="Search books..." class="umb-search" />
   
    <!-- Book List -->
    <table class="table table-striped" ng-if="!bookManager.editing">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>ISBN</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="book in bookManager.books track by book.Id">
                <td>{{book.Title}}</td>
                <td>{{book.Author}}</td>
                <td>{{book.Year}}</td>
                <td>{{book.ISBN}}</td>
                <td>
                    <button class="btn btn-primary btn-sm" ng-click="bookManager.editBook(book)">Edit</button>
                    <button class="btn btn-danger btn-sm" ng-click="bookManager.deleteBook(book.Id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Book Edit/Create Form -->
    <form name="bookForm"
          novalidate
          ng-submit="bookManager.saveBook(bookForm)"
          ng-if="bookManager.editing"
          class="mb-4">

        <h4 ng-if="!bookManager.currentBook.Id">Add Book</h4>
        <h4 ng-if="bookManager.currentBook.Id">Edit Book</h4>

        <div class="form-group mb-2">
            <label>Title:</label>
            <input type="text"
                   name="title"
                   ng-model="bookManager.currentBook.Title"
                   ng-required="true"
                   ng-maxlength="150"
                   class="form-control" />
            <span ng-show="bookForm.title.$touched && bookForm.title.$error.required" class="text-danger">
                Title is required.
            </span>
            <span ng-show="bookForm.title.$error.maxlength" class="text-danger">
                Title is too long (max 150).
            </span>
        </div>

        <div class="form-group mb-2">
            <label>Author:</label>
            <input type="text"
                   name="author"
                   ng-model="bookManager.currentBook.Author"
                   ng-required="true"
                   ng-maxlength="100"
                   class="form-control" />
            <span ng-show="bookForm.author.$touched && bookForm.author.$error.required" class="text-danger">
                Author is required.
            </span>
            <span ng-show="bookForm.author.$error.maxlength" class="text-danger">
                Author is too long (max 100).
            </span>
        </div>

        <div class="form-group mb-2">
            <label>Year:</label>
            <input type="number"
                   name="year"
                   ng-model="bookManager.currentBook.Year"
                   ng-required="true"
                   min="1450"
                   max="2100"
                   class="form-control" />
            <span ng-show="bookForm.year.$touched && bookForm.year.$error.required" class="text-danger">
                Year is required.
            </span>
            <span ng-show="bookForm.year.$error.min || bookForm.year.$error.max" class="text-danger">
                Year must be between 1450 and 2100.
            </span>
        </div>

        <div class="form-group mb-2">
            <label>ISBN:</label>
            <input type="text"
                   name="ISBN"
                   ng-model="bookManager.currentBook.ISBN"
                   ng-required="true"
                   ng-pattern="/^\d{3}-\d{10}$/"
                   class="form-control" />
            <span ng-show="bookForm.ISBN.$touched && bookForm.ISBN.$error.required" class="text-danger">
                ISBN is required.
            </span>
            <span ng-show="bookForm.ISBN.$error.pattern" class="text-danger">
                ISBN must be in the format 123-1234567890.
            </span>
        </div>

        <!-- Display server-side (API) validation errors -->
        <div ng-if="bookManager.validationErrors && bookManager.validationErrors.length > 0" class="alert alert-danger">
            <ul>
                <li ng-repeat="error in bookManager.validationErrors track by $index">{{ error }}</li>
            </ul>
        </div>

        <button type="button" ng-click="bookManager.saveBook(bookManager)"
                class="btn btn-primary">
            Save
        </button>
        <button type="button" class="btn btn-secondary" ng-click="bookManager.cancel()">Cancel</button>
    </form>


    <ul class="pagination">
        <li ng-class="{disabled: bookManager.page === 1}">
            <a href ng-click="bookManager.goToPage(bookManager.page-1)">&laquo;</a>
        </li>
        <li ng-repeat="p in [].constructor(bookManager.totalPages) track by $index"
            ng-class="{active: $index+1 === bookManager.page}">
            <a href ng-click="bookManager.goToPage($index+1)">{{$index+1}}</a>
        </li>
        <li ng-class="{disabled: bookManager.page === bookManager.totalPages}">
            <a href ng-click="bookManager.goToPage(bookManager.page+1)">&raquo;</a>
        </li>
    </ul>

</div>