<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a9709926-255f-411a-8e79-7bc2270bab96" Alias="about" Level="1">
  <Info>
    <Name>About</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>About</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="921d0e6d-401a-4a04-8299-dc2d091fa003">About</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>053a2dc6-ef5c-4cd2-9acb-fde346b0ee30</Key>
      <Name>pageAbout</Name>
      <Alias>pageAbout</Alias>
      <Definition>7355fe5f-5ab6-487d-a662-70df111f31f4</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Group</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Group</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>