<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cb82cb0d-7503-47d6-a872-06b37842dde9" Alias="dealCards" Level="1">
  <Info>
    <Name>Deal Cards</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="205ff203-8dd3-44d7-b1df-e3c04d4ef9b4" SortOrder="0">dealCard</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>1e370cbf-a14d-462e-b53f-f4ad7bc64691</Key>
      <Name>Deal Cards Nested Content</Name>
      <Alias>dealCardsNestedContent</Alias>
      <Definition>9c14b126-b65a-42f8-8ced-7479dfc89767</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Deal Cards Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Deal Cards Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>