<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d946990f-356b-48ec-ba13-d671a2a5ebf0" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="dbe97e63-3785-4691-998f-7a248d6a8be1">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a9709926-255f-411a-8e79-7bc2270bab96" SortOrder="0">about</ContentType>
    <ContentType Key="d8cc7060-b3c2-411b-8763-99cdbf39210f" SortOrder="1">contentPage</ContentType>
    <ContentType Key="fc0eb815-faf9-4de9-a9c8-353d7c7c9c0b" SortOrder="2">hotDealsArticles</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3a45056f-f080-4708-af47-2acaa07fad6f</Key>
      <Name>Page Content Text</Name>
      <Alias>pageContentText</Alias>
      <Definition>bd29cb50-a109-452c-aaf8-9b97041d2e40</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>group</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>group</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>