<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fc0eb815-faf9-4de9-a9c8-353d7c7c9c0b" Alias="hotDealsArticles" Level="1">
  <Info>
    <Name>Hot Deals Articles</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>list of all cards</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>HotDealsArticles</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="948870ab-1862-4d65-830c-bb2515ca6fa1">HotDealsArticles</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a7aedabf-22ef-4b18-96ab-2a23659f1089" SortOrder="0">hotDealsArticle</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>