<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a7aedabf-22ef-4b18-96ab-2a23659f1089" Alias="hotDealsArticle" Level="1">
  <Info>
    <Name>Hot Deals Article</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>ARTICLE WITH TEMPLATE</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>HotDealsArticle</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ca48a890-fa1c-456d-8841-50de4adb30eb">HotDealsArticle</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7cee0861-be02-4147-b251-d85117406d6d</Key>
      <Name>Colors</Name>
      <Alias>colors</Alias>
      <Definition>9dbbcbbb-2327-434a-b355-af1b84e5010a</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>f528aa54-3c15-4c6c-8c0a-54060639ff59</Key>
      <Name>New Price</Name>
      <Alias>newPrice</Alias>
      <Definition>9052c26e-1a29-4345-8bab-d7f39e7549d3</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>1d2f5237-093b-4c88-b075-54c4c7dfd85d</Key>
      <Name>Old Price</Name>
      <Alias>oldPrice</Alias>
      <Definition>b623d527-2b9f-4796-b7d3-b036d8cadd77</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>7a196053-b7d3-4924-b50f-1edff25da2d5</Key>
      <Name>Product Image</Name>
      <Alias>productImage</Alias>
      <Definition>1df9f033-e6d4-451f-b8d2-e0cbc50a836f</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>0a196d61-3422-4c9b-9cf7-678a6d1227f7</Key>
      <Name>Ratings</Name>
      <Alias>ratings</Alias>
      <Definition>dfedb8d0-3544-46be-b81d-7e7f855869d5</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>31dd037e-2555-4220-96cc-e9c218856a60</Key>
      <Name>Size</Name>
      <Alias>size</Alias>
      <Definition>fdbfde24-80af-4747-8cab-93620255c163</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>29dad56c-9d0e-4989-a56c-c0fdac4c64a7</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>90659e60-9799-402f-8cee-6bc0a9ae6390</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>