<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2704d317-8c84-4550-bc3e-071b5a8a5f7b" Alias="productSizes" Level="1">
  <Info>
    <Name>Product Sizes</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>ProductSizes</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1c11fd84-1dbf-4b6c-87cf-215c72abde49">ProductSizes</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e8069fb4-ef8f-4f12-943a-38898e9fa5da</Key>
      <Name>Product Sizes</Name>
      <Alias>productSizesNestedContent</Alias>
      <Definition>8e866729-705c-4452-94b4-db18be80b817</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>