<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="35cebe6b-1d22-418d-aca1-6dbc20f3f10c" Alias="productSize" Level="1">
  <Info>
    <Name>Product Size</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Compositions />
    <DefaultTemplate>ProductSize</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="be875542-858b-432c-b3f1-bb959919c5af">ProductSize</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>48ca1756-b538-47b4-ab2c-429bbdd079a6</Key>
      <Name>Size</Name>
      <Alias>size</Alias>
      <Definition>51056af4-52cc-4565-86ab-1b97a6ba0536</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>