<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="12dee9f5-06b2-46d3-af7d-59d0c7d47f71" Alias="testingImages" Level="1">
  <Info>
    <Name>Testing Images</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>TestingImages</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f14f109a-f7ab-411c-85ef-b3d3d77404ac">TestingImages</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5eaab415-154b-4a04-ab4e-66072f801ffb</Key>
      <Name>Images Picked</Name>
      <Alias>imagesPicked</Alias>
      <Definition>9dbbcbbb-2327-434a-b355-af1b84e5010a</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>