<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bbddae5f-668a-4000-a88c-ec78d09e003e" Alias="usefulLinks" Level="1">
  <Info>
    <Name>Useful Links</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>19170124-f344-4c5d-993e-6f6243093392</Key>
      <Name>Link Nested Content</Name>
      <Alias>linkNestedContent</Alias>
      <Definition>cc6723c0-a366-4a8b-85af-689ce823ac47</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Links</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>