<section alias="content">
	<tab caption="Welcome Dashboard">
		<control>../App_Plugins/WelcomeDashboard/welcomedashboard.html</control>
	</tab>
	<tab caption="Content">
		<control>views/dashboard/content/contentoverview.html</control>
	</tab>
	<tab caption="Recycle Bin">
		<control>views/dashboard/content/recyclebin.html</control>
	</tab>
</section>