<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7355fe5f-5ab6-487d-a662-70df111f31f4" Alias="About - pageAbout - Textbox" Level="1">
  <Info>
    <Name>About - pageAbout - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>