<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cba35c61-cbe0-4cb2-ab63-0464bf3b2293" Alias="Deal Card - Title - Textbox" Level="1">
  <Info>
    <Name>Deal Card - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>