<?xml version="1.0" encoding="utf-8"?>
<DataType Key="84499175-e262-4dc7-ab86-0321d4858400" Alias="Deal Card - ratings - Textbox" Level="1">
  <Info>
    <Name>Deal Card - ratings - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>