<?xml version="1.0" encoding="utf-8"?>
<DataType Key="65b7f0a9-b3a8-4e70-8a59-e89ec163c6fa" Alias="Deal Card - Size - Textbox" Level="1">
  <Info>
    <Name>Deal Card - Size - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>