<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9c14b126-b65a-42f8-8ced-7479dfc89767" Alias="Deal Cards - Deal Cards Nested Content - Nested Content" Level="1">
  <Info>
    <Name>Deal Cards - Deal Cards Nested Content - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "dealCard",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>