<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0ca433d6-b447-493d-9871-de22739f0421" Alias="Home - helloWorldText - Textbox" Level="1">
  <Info>
    <Name>Home - helloWorldText - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>