<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bd29cb50-a109-452c-aaf8-9b97041d2e40" Alias="Home - Page Content Text - Textbox" Level="1">
  <Info>
    <Name>Home - Page Content Text - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>