<?xml version="1.0" encoding="utf-8"?>
<DataType Key="11c6f9b9-0ea7-4e31-aba6-22a9c47ba3b6" Alias="Hot Deals Article - Product Image - Media Picker" Level="1">
  <Info>
    <Name>Hot Deals Article - Product Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>