<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9052c26e-1a29-4345-8bab-d7f39e7549d3" Alias="Hot Deals Article - New Price - Textbox" Level="1">
  <Info>
    <Name>Hot Deals Article - New Price - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>