<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dfedb8d0-3544-46be-b81d-7e7f855869d5" Alias="Hot Deals Article - Ratings - Textbox" Level="1">
  <Info>
    <Name>Hot Deals Article - Ratings - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>