<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b623d527-2b9f-4796-b7d3-b036d8cadd77" Alias="Hot Deals Article - Old Pirce - Textbox" Level="1">
  <Info>
    <Name>Hot Deals Article - Old Pirce - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>