<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fdbfde24-80af-4747-8cab-93620255c163" Alias="Hot Deals Article - Size - Textbox" Level="1">
  <Info>
    <Name>Hot Deals Article - Size - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>