<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ee9edca4-4df1-4c29-9615-ac210698fd06" Alias="Page Content - Page Content Text - Textbox" Level="1">
  <Info>
    <Name>Page Content - Page Content Text - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>