<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8e866729-705c-4452-94b4-db18be80b817" Alias="Product Sizes - Product Sizes - Nested Content" Level="1">
  <Info>
    <Name>Product Sizes - Product Sizes - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "productSize",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>