<?xml version="1.0" encoding="utf-8"?>
<DataType Key="51056af4-52cc-4565-86ab-1b97a6ba0536" Alias="Product Size - Size - Textbox" Level="1">
  <Info>
    <Name>Product Size - Size - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>