<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ced68684-b535-4a28-a397-ad18706a9813" Alias="Site Settings - Site Name - Textbox" Level="1">
  <Info>
    <Name>Site Settings - Site Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>