<?xml version="1.0" encoding="utf-8"?>
<DataType Key="17ddc174-81b2-4e8b-9bc5-50cf2b617b91" Alias="Site Settings - Site Name - Textbox (1)" Level="1">
  <Info>
    <Name>Site Settings - Site Name - Textbox (1)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>