<?xml version="1.0" encoding="utf-8"?>
<DataType Key="153e878d-de91-45f9-8205-c7d4a0577aa6" Alias="Site Settings - Test Mode - Checkbox" Level="1">
  <Info>
    <Name>Site Settings - Test Mode - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": null
}]]></Config>
</DataType>