<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cc6723c0-a366-4a8b-85af-689ce823ac47" Alias="Useful Links - Link Nested Content - Nested Content" Level="1">
  <Info>
    <Name>Useful Links - Link Nested Content - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "usefulLink",
      "ncTabAlias": "Content",
      "nameTemplate": "{{linkText}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>