<?xml version="1.0" encoding="utf-8"?>
<DataType Key="97096e61-0ab2-4626-afc0-b53344eccf02" Alias="Useful Link - Link Text - Textbox" Level="1">
  <Info>
    <Name>Useful Link - Link Text - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>