<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6a0780ef-feb3-44ee-b988-e9f53f98904d" Alias="Useful Link - Link Icon - Textbox" Level="1">
  <Info>
    <Name>Useful Link - Link Icon - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>